
<div id ="mainheader">
   <div id="header">
            <ul >
                
                <li class="nav-item"><a href="{% url "home" %}" >Home</a></li>
                <li class="nav-item"><a href="{% url "about" %}" >About</a></li>
                <li class="nav-item"><a href="{% url "contact" %}" >Contact Us</a></li>
                <li class="nav-item"><a href="{% url "cars" %}">Cars</a></li>
                <li class="nav-item"><a href="{% url "houses" %}">Houses</a></li>
                <li class="nav-item"><a href="{% url "loanmodel" %}">Loan Application</a></li>
                <li class="nav-item"><a href="{% url "carmodel" %}">Sell Car</a></li>
                <li class="nav-item"><a href="{% url "logout" %}">Logout</a></li>
            </ul>
 </div>
</div>
<hr>


