{% extends "layout.html" %}
{% load static %}


{% block css_files %}
<link rel='stylesheet' href="{% static 'css/about.css' %}">
{% endblock css_files %}


{% block page_title %}
    ABOUT US
   {% endblock page_title %}


{% block content %}


  <h1>ABOUT US</h1>


<section>
  <p>Welcome to our space! I'm Anil Sabri Tek, and at 21, I'm driven by a passion for i am not going to talk about them because this website is a demo. As the driving force behind this endeavor, I aim to get at least 70 score for this project. With a keen eye for , I'm dedicated to Nothing. This platform is a culmination of my dedication, insights, and commitment to make multiple things at once like selling car and buy at the same time . Join me on this journey 
  </p>
</section>


{% endblock content %}