{% extends "layout.html" %}
{% load static %}



{% block css_files %}
<link rel='stylesheet' href="{% static 'css/contactus.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock css_files %}



{% block page_title %}
    
   
{% endblock page_title %}


{% block content %}
<h1>
    CONTACT US
</h1>
<section>
    <article id = 'contactus'>
        Your feedback matters! We're eager to hear from you. Whether you have a question, suggestion, or just want to say hello, feel free to reach out using the contact form below. Our team is dedicated to providing prompt and helpful responses to ensure your experience with us is seamless. Thank you for connecting with us – we look forward to hearing from you
    </article>
    <p>&#8594 anilsabri.tek@stu.pirireis.edu.tr &#10022 <i class="fa fa-envelope" style="font-size:24px"></i></p>
    <p>&#8594 90+ 531-957-29-15 &#10022 <i class="fa fa-phone" style="font-size:24px"></i></p>
    <p>&#8594 aniltek_  &#10022 <i class="fa fa-instagram" style="font-size:24px"></i></p>
    <p>&#8594 <a href="https://github.com/AnilTek">https://github.com/AnilTek  &#10022 <i class="fa fa-github" style="font-size:24px"></i></a></p>
    <p>&#8594 Fax: +1 (555) 123-4567   &#10022 &#128439</p>
    


</section>
{% endblock %}
