{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="{% static 'css/resetpassword0.css' %}">
    
</head>
<body>
</section id='login'>
<form method="post">
    {% csrf_token %}
    <label for="username">Username</label><br>
    <input type="text" id="username" name="username"><br><br>

    {% if username_entered %}
        {% if sec_question %}
            <label for="sec_answer">{{ sec_question }}</label><br>
            <input type="text" id="sec_answer" name="sec_answer"><br><br>
        {% endif %}

        {% if sec_answer_matched %}
            <label for="new_password">New Password</label><br>
            <input type="password" id="new_password" name="new_password"><br><br>
        {% endif %}
    {% endif %}

    <input type="submit" value="Submit">
</form>

{% if error %}
    <p style='color:red;'>{{ error }}</p>
{% endif %}

    </section>
    
</body>
</html>
